<f:spaceless>
    <f:if condition="{configuration.displayFrame}">
        <f:then>
            <div id="{configuration.id}" class="{classes -> bk2k:implode()}" {f:if(condition: configuration.animation, then: '{configuration.animation -> f:format.raw()}')} >
                <f:if condition="{configuration.bgVideo} != 'none'">
                    <video class="video-bg" autoplay muted loop>
                        <source src="/fileadmin{configuration.bgVideo}" type="{configuration.bgVideoMimeType}">
                    </video>
                </f:if>
                <div class="frame-group-container">
                    <div class="frame-group-inner">

                        <f:render partial="Frame/BackgroundImage" arguments="{_all}" />
                        <div class="frame-container frame-container-default">
                            <div class="frame-inner">
                                {content -> f:format.raw()}
                            </div>
                        </div>
                    </div>
                </div>
                <f:render partial="Frame/SvgOverlays" arguments="{_all}" />
            </div>

        </f:then>
        <f:else>

            <a id="{configuration.id}"></a>
            <f:if condition="{configuration.spaceBefore} !== none">
                <f:then>
                    <f:if condition="{configuration.paddingBefore} !== none">
                        <f:then>
                            <div class="frame-space-before frame-space-before-{configuration.spaceBefore} frame-padding-before-{configuration.paddingBefore}"></div>
                        </f:then>
                        <f:else>
                            <div class="frame-space-before frame-space-before-{configuration.spaceBefore}"></div>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{configuration.paddingBefore} !== none">
                        <div class="frame-padding-before-{configuration.paddingBefore}"></div>
                    </f:if>
                </f:else>
            </f:if>
            {content -> f:format.raw()}
            <f:if condition="{configuration.spaceAfter} !== none">
                <f:then>
                    <f:if condition="{configuration.paddingAfter} !== none">
                        <f:then>
                            <div class="frame-space-after frame-space-after-{configuration.spaceAfter} frame-padding-after-{configuration.paddingAfter}"></div>
                        </f:then>
                        <f:else>
                            <div class="frame-space-after frame-space-after-{configuration.spaceAfter}"></div>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{configuration.paddingAfter} !== none">
                        <div class="frame-padding-after-{configuration.paddingAfter}"></div>
                    </f:if>
                </f:else>
            </f:if>

        </f:else>
    </f:if>
</f:spaceless>
