<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
=====================
Partials/News/Detail/ItemHeader.html
-->
<div class="c-news-article__title">
    <h1 itemprop="headline">{newsItem.title}</h1>
</div>
<div class="c-news-article__info">
    <p>
        <!-- date -->
        <span class="c-news-article__date">
            <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
            </time>
        </span>
        &nbsp;|&nbsp;
        <f:if condition="{newsItem.categories}">
            <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
        </f:if>

        <f:if condition="{newsItem.tags}">
            <!-- Tags -->
            <span class="c-news-article__tags" itemprop="keywords">
                <f:for each="{newsItem.tags}" as="tag">
                    {tag.title}
                </f:for>
            </span>
        </f:if>

        <f:if condition="{newsItem.author}">
            <!-- author -->
            <span class="c-news-article__author" itemprop="author" itemscope="itemscope"
                itemtype="http://schema.org/Person">
                <f:translate key="author_simple" /> <span itemprop="name">{newsItem.author}</span>
            </span>
        </f:if>
    </p>
</div>
<f:if condition="{newsItem.teaser}">
    <!-- teaser -->
    <div class="c-news-article__teaser" itemprop="description">
        <f:format.html>{newsItem.teaser}</f:format.html>
    </div>
</f:if>
