<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="mediaelement mediaelement-image carousel-item {f:if(condition:iterator.isFirst, then: ' active')}">
    <f:if condition="{mediaElement.link}">
        <f:then>
            <f:link.typolink parameter="{mediaElement.link}" target="{n:targetLink(link:mediaElement.link)}">
                <f:image image="{mediaElement}" class="img-fluid" title="{mediaElement.title}"
                    alt="{mediaElement.alternative}" loading="{settings.detail.media.image.lazyLoading}"
                    maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}"
                    maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}"
                    additionalAttributes="{itemprop:'image'}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{settings.detail.media.image.lightbox.enabled}">
                <f:then>
                    <f:variable name="src">
                        <f:uri.image image="{mediaElement}" />
                    </f:variable>
                    <a href="{f:uri.image(image:mediaElement, width:'{settings.detail.media.image.lightbox.width}', height:'{settings.detail.media.image.lightbox.height}')}"
                        title="{mediaElement.title}" data-lightbox-caption="{mediaElement.description}"
                        class="{settings.detail.media.image.lightbox.class}"
                        data-lightbox-width="{bk2k:data.imageInfo(src: src,property: 'width')}"
                        data-lightbox-height="{bk2k:data.imageInfo(src: src,property: 'height')}"
                        rel="{settings.detail.media.image.lightbox.rel}">
                        <f:image image="{mediaElement}" class="img-fluid" title="{mediaElement.title}" alt="{mediaElement.alternative}"
                            loading="{settings.detail.media.image.lazyLoading}"
                            maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}"
                            maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}"
                            additionalAttributes="{itemprop:'image'}" />
                    </a>
                </f:then>
                <f:else>
                    <f:image image="{mediaElement}" class="img-fluid" title="{mediaElement.title}"
                        alt="{mediaElement.alternative}"
                        maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}m"
                        maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}m"
                        additionalAttributes="{itemprop:'image'}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
    <f:if condition="{mediaElement.description}">
        <div class="carousel-caption d-none d-md-block">
            <p class="news-img-caption">
                {mediaElement.description}
            </p>
        </div>
    </f:if>
</div>


</html>
