<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{media}">
    <!-- media files -->
    <div class="news-img-wrap">
        <div class="outer">
            <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <f:for each="{media}" as="mediaElement" iteration="iterator">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:render partial="Detail/MediaCarouselImage"
                                arguments="{mediaElement: mediaElement, settings:settings, iterator:iterator}" />
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 5">
                            <f:render partial="Detail/MediaCarouselImage"
                                arguments="{mediaElement: mediaElement, settings:settings, iterator:iterator}" />
                        </f:if>
                    </f:for>
                    <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</f:if>

</html>
