<f:if condition="{configuration.layout} == 'l3'">
    <f:then>
        <svg class="layout-svg layout-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 209">
            <g transform="matrix(1,0,0,1,0,-386)">
                <path d="M1920,461C1920,461 1609,690 1032,499C438.3,302.5 0,506 0,506L0,1080L1920,1080L1920,461Z"
                    style="fill:white;fill-rule:nonzero;" />
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l4'">
    <f:then>
        <svg class="layout-svg layout-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 180">
            <g transform="matrix(1,0,0,1,0,-400)">
                <path d="M1920,1080L1920,552C1102,298 0,506 0,506L0,1080L1920,1080Z"
                    style="fill:white;fill-rule:nonzero;" />
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l5'">
    <f:then>
        <svg class="layout-svg-top layout-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 187">
            <g transform="matrix(1,0,0,1,0,-301.793)">
                <clipPath id="_clip1">
                    <rect x="0" y="301.793" width="1920" height="188.206" />
                </clipPath>
                <g clip-path="url(#_clip1)">
                    <path class="fill-tertiary"
                        d="M1920,442.4C1920,442.4 1609,213.4 1032,404.4C438.3,601 0,397.4 0,397.4L0,0L1920,0L1920,442.4Z" />
                </g>
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l6'">
    <f:then>
        <svg class="layout-svg-top layout-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 150">
            <g transform="matrix(1,0,0,1,0,-291.867)">
                <clipPath id="_clip1">
                    <rect x="0" y="291.867" width="1920" height="147.32" />
                </clipPath>
                <g class="fill-tertiary" clip-path="url(#_clip1)">
                    <path d="M1920,0L0,0L0,359C0,359 1102,567 1920,313L1920,0Z" />
                </g>
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l7'">
    <f:then>
        <svg class="layout-svg layout-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 187">
            <g transform="matrix(1,0,0,1,0,-400.957)">
                <clipPath id="_clip1">
                    <rect x="0" y="400.957" width="1920" height="199.363" />
                </clipPath>
                <g clip-path="url(#_clip1)">
                    <path class="fill-tertiary"
                        d="M1920,461C1920,461 1609,690 1032,499C438.3,302.5 0,506 0,506L0,1080L1920,1080L1920,461Z" />
                </g>
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l8'">
    <f:then>
        <svg class="layout-svg layout-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 155">
            <g transform="matrix(1,0,0,0.955386,0,-397.817)">
                <clipPath id="_clip1">
                    <rect x="0" y="425.814" width="1920" height="152.818" />
                </clipPath>
                <g clip-path="url(#_clip1)">
                    <path class="fill-tertiary" d="M1920,1080L1920,552C1102,298 0,506 0,506L0,1080L1920,1080Z" />
                </g>
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l9'">
    <f:then>
        <svg class="layout-svg layout-9" viewBox="0 0 1920 78" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <clipPath id="_l9">
                <rect x="0" y="0" width="1920" height="77" />
            </clipPath>
            <g clip-path="url(#_l9)">
                <path class="fill-white"
                    d="M1920.5,0.7L968.4,0.6L888.9,80.1L0,80.1L-0.2,186.7L1919.1,186.7L1920.5,0.7Z" />
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l10'">
    <f:then>
        <svg class="layout-svg layout-10" viewBox="0 0 1920 78" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <clipPath id="_l10">
                <rect x="0" y="0" width="1920" height="77" />
            </clipPath>
            <g clip-path="url(#_l10)">
                <path class="fill-light"
                    d="M1920.5,0.7L968.4,0.6L888.9,80.1L0,80.1L-0.2,186.7L1919.1,186.7L1920.5,0.7Z" />
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l11'">
    <f:then>
        <svg class="layout-svg layout-11" viewBox="0 0 1920 78" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <clipPath id="_l11">
                <rect x="0" y="0" width="1920" height="77" />
            </clipPath>
            <g clip-path="url(#_l11)">
                <path class="fill-dark"
                    d="M1920.5,0.7L968.4,0.6L888.9,80.1L0,80.1L-0.2,186.7L1919.1,186.7L1920.5,0.7Z" />
            </g>
        </svg>
    </f:then>
</f:if>
<f:if condition="{configuration.layout} == 'l12'">
    <f:then>
        <svg class="layout-svg layout-12" viewBox="0 0 1920 78" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <clipPath id="_l12">
                <rect x="0" y="0" width="1920" height="77" />
            </clipPath>
            <g clip-path="url(#_l12)">
                <path class="fill-primary"
                    d="M1920.5,0.7L968.4,0.6L888.9,80.1L0,80.1L-0.2,186.7L1919.1,186.7L1920.5,0.7Z" />
            </g>
        </svg>
    </f:then>
</f:if>
