//
// Color system
// --------------------------------------------------

$primary:                           #8C472E !default;
$secondary:                         #537FA6 !default;
$tertiary:                          #789EBF !default;
$quaternary:                        #BF9B7A !default;

$default:                           #eaebec !default;
$success:                           #5cb85c !default;
$info:                              #319fc0 !default;
$warning:                           #f0ad4e !default;
$danger:                            #d9534f !default;
$lighter:                           $gray-100 !default;
$light:                             $gray-200 !default;
$dark:                              $gray-800 !default;
$darker:                            $gray-900 !default;

$color-facebook:                    #3b5999 !default;
$color-twitter:                     #55acee !default;
$color-instagram:                   #e4405f !default;
$color-youtube:                     #cd201f !default;
$color-xing:                        #026466 !default;
$color-kununu:                      #000000 !default;
